@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#root {
    position: relative;

    margin-right: 5vw;
    margin-left: 5vw;
}

.icon-switch {
    position: absolute;
    right: 2%;
    font-size: 30px;
}

.cards {
    position: absolute;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list {
    position: absolute;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    width: 95%;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    align-items: center;
}

.card-name, .card-color {
    margin-top: 10px;
}

.card-name {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.card-color {
    font-size: 20px;
    text-transform: lowercase;
}

.card-img {
    height: 60%;
    width: 70%;
}

.list-img{
    height: 200px;
}

.card-footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-price {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #d53e2e;
}

.card-button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: #d53e2e solid 1px;
    border-radius: 20px;
    color: #d53e2e;
}
